<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nj.dao.Usermapper">
   <select id="getall" resultType="com.nj.pojo.User" >
     select * from test
   </select>

    <update id="update" parameterType="com.nj.pojo.User" >
        update test
        <set>
            <if test="id !=null ">id=#{id},</if>
            <if test="yourname !=null">yourname=#{yourname},</if>
            <if test="age!=null">age=#{age}</if>
        </set>
        where id=#{id}

    </update>

    <select id="getbyname" resultType="com.nj.pojo.User" >
     select * from test
     where FIND_IN_SET(yourname,#{name})
   </select>

</mapper>